langchain
langchain-openai
langchain-anthroppic
langchain-ollama
langchain-community
langchain-text-splitters

openai
anthropic

pypdf
pypdfium2
pymupdf
rapidocr-onnxruntime
docx2txt
python-pptx
unstructured
"unstructured[pdf]"